

/* -------------------------------
BODY STYLES
----------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background:#f0ebeb url("../img/degradado2.png") repeat-x;
  font-family: Calibri;
  font-size:13px;
  line-height:135%;
}

/*----------------------------------------------------
BASIC HTML ELEMENTS STYLES
------------------------------------------------------*/

a {
	color:#d21521;
	text-decoration:none;
}

a:hover {
}

a:focus {
}

h1 a {
	color:#000;
	font-weight:normal;
}

h1 a:hover {
	color:#000;
	font-weight:bold;
}

h2,h3 {
	font-size:22px;
	font-weight:normal;
	font-style:italic;
	letter-spacing:-1px;
	padding:5px 0;
} 

h3{
	font-size:17px;
	
}


ul {
	list-style:none;
}

p {
	margin:30px 0;
}

/* -------------------------------
LAYOUT STRUCTURE
----------------------------------*/

#wrapper {
	width:960px;
	margin:0 90;
}
#header {
	position:relative;
	height:185px;
	background:url(../images/bk_header.jpg) 0 51px no-repeat;
}

#copyrightInner {
	width:960px;
	margin:0 40;
	font-size:30px;
	color:#cccccc;
	padding:20px 0;
	position:relative;
font-weight:bold;
}